* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.App {
  text-align: center;
}
.bg {
  background-image: url('bg.jpg');
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.konten {
  padding: 50px 40px; 
  border-radius: 10px; 
  border: 1px solid rgba(0, 0, 0, 0.212);
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  background-color: #fafafa;
  color:  rgba(57, 145, 153, 0.822);
  box-shadow: 0 0 60px 0 rgba(136, 136, 136, 0.212);
}
.cek {
  margin: 8px 0px;
  margin-right: 10px;
  color: rgba(57, 145, 153, 0.822);
}
table {
  text-align: left;
}
.label {
  padding-right: 50px; 
  font-weight: bold;
}

td > p {
  margin-block-start:0;
  margin-block-end:0;
}

tr, td {
  padding: 5px 0px;
}

.submit {
  padding: 12px 40px;
  border-radius: 5px;
  color: rgb(240, 138, 23);
  background-color: transparent;
  border: solid 1px rgb(240, 138, 23);
}
.submit:hover {
  background-color: rgb(240, 138, 23);
  color: white;
  opacity: 0.9;
  cursor: pointer;
} 
.submit:active {
  position: relative;
  top: 3px;
  outline: none;
}
.submit:focus {
  outline: none;
}

.kotakbuah {
  
  margin: 0 auto;
  border: 1px solid rgba(136, 136, 136, 0.212);
  margin-top: 50px;
  width: 80%;
  color: rgba(57, 145, 153, 0.822);
  padding: 40px;
  background-color: #fafafad8;
  border-radius: 10px;
  box-shadow: 0 0 50px 0 rgba(136, 136, 136, 0.198);
  max-height: 560px;
  overflow: auto;
  
}
h2 {
  margin-block-start: 0px;
  margin-block-end: 20px;
  text-align: center;
  color: rgba(57, 145, 153, 0.822);
  font-size: 30px;
}
.tabelbuah {
  margin: 0 auto;
  padding: 10px;
  color: rgba(57, 145, 153, 0.822);
  background-color: transparent;
  text-align: center;
}
.thbuah {
  width: 200px;
  text-align: center;
  background-color: rgba(57, 145, 153, 0.822);
  color: white;
  padding: 10px;
  font-weight: bold;
  border: 1px solid rgba(136, 136, 136, 0.205);
}
.barisbuah {
  font-size: 13px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border: 1px solid rgba(136, 136, 136, 0.205);
}
.timer {
  padding: 20px;
  border: 1px solid rgba(136, 136, 136, 0.644);
  margin : 0 auto;
  border-radius: 5px;
  width: 80%;
  margin-top: 50px;
}
.listbuah {
  width: 50%;
  margin:0 auto;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  border: 1px solid rgba(136, 136, 136, 0.459);
  border-radius: 10px;
}
.baris {
  padding-left: 10px;
  background-color: rgb(74, 119, 145);
  color: white;
  border: 1px solid black;
}
.Tpeserta{
  margin: 0 auto;
  width: 50%;
  border: 1px solid rgba(136, 136, 136, 0.205);
  padding: 10px;
  border-radius: 10px;
}
.rowph {
  padding: 10px;
  background-color: rgb(74, 119, 145);
  text-align: center;
  border: 1px solid rgba(136, 136, 136, 0.205);
  color: white;
}
.rowp {
  padding: 10px;
  background-color: transparent;
  color: rgb(74, 119, 145);
  border: 1px solid rgba(136, 136, 136, 0.198);
}
.bedit {
  padding: 8px 30px;
  border: 1px solid rgb(79, 165, 235);
  color: rgb(79, 165, 235);
  background-color: transparent;
  border-radius: 3px;
  margin-right: 20px;
}
.bedit:hover {
  background-color: rgb(79, 165, 235);
  color: white;
  cursor: pointer;
}
.bdelete{
  padding: 8px 30px;
  border: 1px solid rgb(230, 42, 67);
  color: rgb(230, 42, 67);
  background-color: transparent;
  border-radius: 3px;
  margin-right: 20px;
}
h1 {
  margin-block-start: 0px;
}
.bdelete:hover {
  background-color:rgb(230, 42, 67);
  color: white;
  cursor: pointer;
}
.bheader{
  width: 120px;
  text-align: center;
  background-color: rgb(245, 187, 79);
  color: rgb(104, 104, 104);
  padding: 10px;
}
.mini {
  width: 100px;
}
.input {
  margin: 10px 0px;
  width: 100%;
}
.bariss {
  background-color: rgb(49, 114, 151);
  color: white;
  border: 1px solid black;
  
}
nav {
  display: block;
  width: 100%;
  text-decoration: none;
  height: 60px;
  position: relative;
  background-color: #fafafa;
  top: 0; 
  box-shadow: 0px 2px 5px 0px rgba(141, 141, 141, 0.376);
}
ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  list-style: none;
}
li {
  float:left;
  line-height: 60px;
  padding: 0px 20px;
  color: white;
  opacity: 0.4;
}
a {
  text-decoration: none;
  font-weight: 500;
  display: block;
  color: rgb(22, 66, 117);;
}
li:hover {
  border-bottom: 4px solid rgb(172, 18, 46);
  transition: 0.1s;
  opacity: 0.9;
}
.btnsave {
  margin-left: 20px;
  display: inline-block;
  padding: 8px 30px;
  background-color: rgb(38, 131, 143);
  color: white;
  border: 1px solid transparent;
  opacity: 0.8;
  border-radius: 4px;
}
.btnsave:hover {
  opacity: 1;
  cursor: pointer;
}
.btnsave:active {
  position: relative;
  top: 2px;
  outline: none;
}

.inputpeserta {
  border: 1px solid rgba(128, 128, 128, 0.363);
  display: inline-block;
  padding: 10px 10px;
  border-radius: 5px;
}
.inputpeserta:focus {
  outline: #888;
  box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 0.2);
}