@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
nav {
    display: block;
    width: 100%;
    text-decoration: none;
    background-color: rgb(23, 22, 22);
    position: absolute;
    box-shadow: none;
  }
ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    list-style: none;
  }
li {
    float:left;
    padding: 0px 20px;
    color: white;
    opacity: 0.4;
  }
a {
    text-decoration: none;
    font-weight: 500;
    display: block;
    color:#fafafa;
  }
li:hover {
    border-bottom: 4px solid rgb(172, 18, 46);
    transition: 0.1s;
    opacity: 0.9;
}
.menubar {
    color: #fafafa;
    font-size: 2em;
    display: none;
    margin-left: 50px;
    line-height: 1.9em;
}
.navkanan{
    float: right;
    margin-right: 50px;
}
.logo {
    float: left;
    line-height: 60px;
    background-color: transparent;
    font-size: 1.5em;
    margin-left: 20px;
    font-weight: bold;
    color: rgb(217, 229, 247);
    display: none;

}
.kontens{
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 4px;
    position: relative;
}
.kontainer {
    margin: 0;
    padding: 0;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-color: #0e0909;
    background-position: top;
    width: 100%;
    height: 800px;
    color: white;
    padding-top: 80px;
}
.k2 {
    background-image: url("bgtrans.jpg");

}
.k3 {
    background-image: url("bgtrans2.jpg");
}
.k4 {
    background-image: url("bgtrans3.jpg");
}
.k5 {
    background-image: url("bgtrans4.jpg");
}
.footer {
    overflow: auto;
    padding: 20px 20px;
    background-color: rgb(5, 6, 19);
    padding-bottom: 50px;
}
.fkonten {
    display: flex;
}

.fisi {
    flex-grow: 1;
    margin: 0 10px;
    padding: 10px;
}
.ftitle {
    padding: 10px 0px;
    margin-bottom: 20px;
    color: #fafafa;
    font-size: 1.3em;
    text-align: center;
    font-weight: 600;
}
.fsubtitle p{
    display: block;
    color: #fafafa;
    font-size: 0.9em;
    font-weight: lighter;
    text-align: left;
    padding: 2px 0;
    line-height: 10px;
    opacity: 0.7;
}
.adjust {
    position: relative;
    margin-right: 8px;
    top: 7px;
}
.fsubtitles a{
    display: block;
    color: #fafafa;
    font-size: 0.8em;
    text-align: center;
    padding: 2px 0;
    line-height: 20px;
    margin: 15px 0px;
    opacity: 0.7;
}
 p:hover{
    opacity: 1;
} 
.tengah {
    text-align: center;
}
.full {
    width: 19em;
}
.wheader{
    color: #fafafa;
    padding: 50px 0 50px 50px;
    width: 800px;
    position: relative;
    margin-top: 30px;
}
.wheader h1{
    font-size: 3em;
    margin: 50px 0px;
}
.wheader p {
    line-height: 1.5em;
    font-size: 1.2em;
    opacity: 0.8;
    margin-bottom: 10px;
}
.lmtitle {
    font-size: 3em;
    padding: 15px 0;
    color: rgb(5, 35, 87);
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px solid rgb(5,35,87);
}
.baris {
    margin: 0 auto;   
    padding-bottom: 2%;
    border: none;
    background-color: rgb(239, 242, 241);
    padding-bottom: 20px;
}
.isifilm {
    display: inline-block;
    max-width: 100%;
}
.kotak {
    display: inline-block;
    width: 18%;
    margin: 1%;
    border-radius: 5px;
    background-color: #ede2e2ba;
    padding-bottom: 20px;
    position: relative;
    border: 1px solid rgba(18, 39, 60, 0.304);
    
}
.kotak:hover {
    box-shadow: 0 0 50px 0 rgba(128, 128, 128, 0.372);
}
.live {
    display: block;
    padding: 15px;
    background-color: rgb(7, 40, 69);
    color: white;
    border: none;
    margin: 5%;
    width: 90%;
    font-size: 0.9em;
    border-radius: 5px;
    line-height:20px;
}
.pas {
    float: left;
}
.live:hover {
    cursor: pointer;
    background-color: rgb(9, 54, 109);
}
.judul {
    color:rgb(6, 31, 53);
    text-align: center;
    font-size: 1.2em;
    padding: 0px 5px;
    font-weight: 600;
    border-bottom: 1px solid rgba(128, 128, 128, 0.283);
    position: static;
    height: 2.7em;
    overflow: auto;
}
.desc {
    text-align: center;
    margin: 10px 0;
    color: rgb(92, 92, 92);
    font-size: 0.9em;
    font-style: italic;
    padding: 0 15px;
    height: 2.2em;
    overflow: auto;
}
.des {
    height: 1.2em;
}
.btn{
    text-align: center;
}
.navkiri {
    background-color: transparent;
    color: white;
    display: inline;
    position: absolute;
}
.boxregister{
    background-color: #212121;
    width: 70%;
    padding: 40px 30px;
    border-radius: 0 0 1em 1em;
    box-shadow: 0 0 40px #a9a7a72b;
}
.wheader >h3 {
    font-size: 2em;
    margin-bottom: 20px;
}
.boxregister label {
    font-size: 1em;
    color: #dcdcdc;
    font-weight: 600;
}
.boxregister input {
    padding: 13px;
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-top: 8px;
    color: rgba(77, 74, 74, 0.968);
    font-size: 1.2em;
    border: 1px solid rgba(128, 128, 128, 0.338);
}
.boxregister input:focus{
    outline: none;
    box-shadow: 0 0 20px rgba(23, 124, 201, 0.564);
}
.boxregister button{
    padding: 15px 20px;
    background-color: rgb(18, 74, 104);
    color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-size: 1.3em;
    margin-top: 25px;
}
#tmovie{
    display: none;
}
#tgame{
    display: none;
}
#logout{
    display: none;
}
.boxregister button:focus{
    outline: none;
}
.boxregister button:hover{
    background-color: rgb(11, 46, 63);
    cursor: pointer;
}
.inputform {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: rgb(192, 213, 228);
    padding: 20px;
    width: 80%
}
.inputform label{
    color: rgb(60, 69, 82);
    font-size: 1.2em;
    float: left;
    padding-bottom: 8px;
    padding-top: 15px;
}
.flexx {
    display: flex;
    align-content: space-between;
}
.flexchild {
    flex-grow: 1;
    padding-left: 50px;
}
.flexchild2 {
    flex-grow: 1;
    width: 70%;
}
.formcari{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    background-color: #dcdcdc;
    width: 55%;
    border-radius: 10px;
}
.cari{
    margin: 0 auto;
    display: inline-block;
}
button{
    cursor: pointer;
}
.formcari h2{
    color: rgb(35, 70, 108);
}
.formcari input{
    padding: 1em 2em;
    font-size: 0.8em;
    border: 1px solid rgba(128, 128, 128, 0.427);
    margin-right: 20px;
    border-radius: 7px;
    width: 400px;
}
.formcari button{
    padding: 1em 2em;
    font-size: 0.8em;
    border-radius: 7px;
    background-color: rgb(97, 166, 240);
    color: white;
    border: none;
}
.formcari button:hover{
    background-color: rgb(14, 57, 103);
}
.formcari button:active{
    position: relative;
    top: 3px;
}
.formcari button:focus{
    outline:none
}
.formcari input:focus{
    outline: none;
    box-shadow: 0 0 20px 0 rgba(55, 125, 211, 0.324);
}
.titledm{
    text-align: center;
    color: rgb(15, 57, 101);
    margin-bottom: 15px;
}
.tabelMovie{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    font-size: 0.9em;
    width: 90%;
    margin-bottom: 50px;
}
.tabelMovie th{
    color: #f2f2f2;
    background-color: rgba(113, 113, 113, 0.982);
    padding: 10px 20px;
    text-align: center;
    border: 1px solid rgba(223, 223, 223, 0.66)
}
.tabelMovie tr{
    background-color: #f0f0f0;
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.304);
}
.tabelMovie td{
    padding: 10px 20px;
    
}
.tabelMovie tr:hover{
    background-color: rgb(41, 67, 89);
    color: white;
    cursor: pointer;
}
.tabelMovie tr:nth-child(even){
    background-color: #d0d0d0;
}
.tabelMovie tr:nth-child(even):hover{
    background-color: rgb(41, 67, 89);
    color: white;
    cursor: pointer;
}
.btn{
    padding: 4px 4px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
    display: inline-block;
}
.edit{
    background-color: rgb(28, 150, 66);
    margin-right: 8px;
}
.delete{
    background-color: rgb(177, 64, 64);
}
#forminput{
    display: none;
}
.inline {
    display: inline;
}
.tambah{
    display: inline-block;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .flexx {
        display: block;
        text-align: center;
    }
    .flexchild {
        padding-left: 0px;
    }
    .flexchild2 {
        width: 100%;
    }
    .footer {
        display: block;
        overflow: unset;
    }
    .tabb{
        display: block;
    }
    .fkonten {
        display: block !important;
    }
    .fsubtitle p{
        text-align: center !important;
    }
    .ftitle {
        margin-top: 20px;
    }
    .wheader {
        width: 68%;
        font-size: 0.8em;
        margin-left: 50px;
        padding: 0;
    }
    .desc {
        height: 2em;
    }
    .kotak {
        width: 23%;
        margin: 1%;
    }
    .live {
        line-height: 22px;
        font-size: 0.8em;
    }
    .judul {
        font-size: 1em;
        height: 3em;
    }
    .desc  {
        font-size: 0.7em;
    }
    .hapus {
        display: none;
    }
 
}

@media screen and (max-width: 360px) {
    .kontainer{
        display: block;
        height: auto;
        padding-bottom: 50px;
    }
    #navigasi{
        position: relative;
        display: block;
    }
    .wheader{
        display: grid;
        margin: 0 0 0 30px;
        width: auto;
        position: unset;
        padding: 0px 20px 20px 0;
    }
    .wheader h1{
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 25px;
        padding-top: 0px;
    }
    .wheader p{
        opacity: 1;
        font-size: 1em;
    }
    .kontainer {
        background-position: center;
    }
    .kiri {
        background-position: right 30% bottom 20%;
    }
    .kiri5 {
        background-position: right 20% bottom 80%;
    }
    .hapus {
        display: none;
    }
    .footer {
        font-size: 1rem;
    }
    .lmtitle {
        font-size: 1.5em;
    }
    .kotak {
        width: 45%;
        margin: 2%;
    }
    .ftitle {
        margin: 20px 0px;
        padding: 0;
    }
    .judul {
        font-size: 0.8em;
    }
    .br{
        display: block;
        margin-top: 20px;
    }
    .live {
        padding: 10px;
    }
    .padd{
        margin-left: 0px;
        margin-top: 0px;
    }
    nav {
        height: 0;
        text-align: center;
    }
    nav ul {
        padding-top: 20px;
    }
    nav ul li{
        display: block;
        width: 100%;
        line-height: 40px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.414);
        background-color: rgb(30, 29, 29);
        opacity: 1;
    }
    .navkiri {
        position: relative;
        background-color: transparent;
        display: block;
        height: 0px;
    }
    .logo {
        display: inline-block;
    }
    .menubar{
        display:inline-block;
        padding-left: 10px;
    }
    .wheader > h3 {
        margin-top: 20px;
        background-color: rgb(25, 88, 126);
        padding: 20px;
        font-size: 1.5em;
        text-align: center;
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 0px;
    }
    .boxregister{
        width: 100%;
        margin-top: 0;
        padding: 20px;
    }
    .inputform label {
        font-size: 0.9em;
    }
    .inputform input {
        padding: 10px;
        font-size: 0.8em;
    }
    .inputform button{
        font-size: 0.9em;
        padding: 15px;
    }
}
@import 'responsive.css';
